[Desktop Entry]
Name=Juno
Comment=A hackable text editor for the 21st Century.
GenericName=Text Editor
#Exec=/usr/bin/juno %F
Exec=juno %F
Icon=${SNAP}/meta/gui/icon.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;
